{% extends 'base.html' %}
{% block title %} Block {% endblock %}
{% block content %}

<!-- <div class = "wallet-container">
    <h1>Latest Blocks</h1>
    <div class = "blockheader">
        <div class = "bheader"> Block Height</div>
        <div class = "bheader"> Block Header</div>
        <div class = "Transactions"> Transactions</div>
        <div class = "Size"> Size (Bytes)</div>
    </div>
    {% for block in blocks[::-1] %}
    <a id ='detail' href = "{{ url_for('block', BlockHeader = block[0]['BlockHeader']['BlockHash']) }}">
        <div class = 'block'>
            <div class = "block-height"> {{ block[0]["Height"] }}</div>
            <div class = "block-item block-header">
                {{ block[0]["BlockHeader"]["BlockHash"] }}
            </div>
            <div class = "block-item tx-count"> {{ block[0]["TxCount"] }}</div>
            <div class = "block-item block-size"> {{ block[0]["BlockSize"] }}</div>
        </div>
    </a>
    {% endfor %}
</div>
-->

<div class="wallet-container">
    <h1>Latest Blocks</h1>
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Block Height</th>
                    <th>Block Header</th>
                    <th>Transactions</th>
                    <th>Size (Bytes)</th>
                </tr>
            </thead>
            <tbody>
                {% for block in blocks[::-1] %}
                <tr>
                    <td><a href="{{ url_for('block', BlockHeader=block[0]['BlockHeader']['blockHash']) }}">{{ block[0]['Height'] }}</a></td>
                    <td>{{ block[0]['BlockHeader']['blockHash']}}</td>
                    <td>{{ block[0]['TxCount'] }}</td>
                    <td>{{ block[0]['Blocksize'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
