{% extends 'base.html' %}
{% block title %}UTXOS{% endblock %}
{% block content %}
<div class="grid-container1">
  <h1>Unspent Transactions (UTXOS)</h1>
  
  <!-- Table header (or column header) -->
  <div class="blockheader">
    <div class="bheader">Transaction ID</div>
  </div>

  {% if allTransactions %}
    {% for txid, idx in allTransactions %}
      <a id="detail" href="{{ url_for('transactions', txid=txid, idx=idx) }}">
        <div class="block">
          <div class="block-item TxId">{{ txid }}:{{ idx }}</div>
        </div>
      </a>
    {% endfor %}
  {% else %}
    <div class="block">
      <p>No unspent transactions available.</p>
    </div>
  {% endif %}

{% endblock %}
