<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="refresh" content = "{{ refreshtime }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <div class = "wallet-container">
            <section id = "navbar">
                <ul>
                    <li><a href = "/"> Home </a></li>
                    <li><a href = "{{ url_for('block') }}"> Blocks </a></li>
                    <li><a href = "{{ url_for('transactions') }}"> Transactions </a></li>
                    <li><a href = "{{ url_for('mempool') }}"> Mempool </a></li>
                    <li><a href = "{{ url_for('wallet') }}"> Wallet </a></li>
                </ul>

                <div class = "search-container">
                    <form action="/search">
                        <input type = 'text' placeholder="Search the Blockchain for a Block Header, Transaction ID or Wallet Address" name = "search" required>
                        <button type="submit" class="search-button">
                            <div class = "search-icon-box">
                                <img src="static/images/search.png"></button> 
                            </div>
                    </form>
                </div>
            </section>
            {% block content %} {% endblock %}
        </div>
        
    </body>